{% extends 'base.html' %}


{% block title %}
    Будущие рейсы
{% endblock %}}
{% block content %}

<h1 class="mt-4">Все рейсы</h1>
{% for i in flights %}
    {% now "Y-m-d" as today_date %}
    {% if i.departure_date|timesince < today_date %}
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title"> Авиакомпания: {{i.company}} </h5>
            </div>
            <div class="card-body">
                <p class="card-text"> {{i.departure_date }} </p>
                <p class="card-text">{{i.departure}} -> {{i.Arrival}}</p>
                <a href="/detailFuture/{{i.id}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}



