<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
</head>
<body>
<div class="main">
    <span><h1>Drivers</h1><a href="/driver/create/">Add new one</a></span>
    <ul>
        {% for driver in dataset %}
            <li><strong>Driver:</strong> {{ driver.last_name }} {{ driver.first_name }} <a href="/driver/{{ driver.id }}/">Detail</a>
            </li><br>
        {% empty %}
            <li>No drivers yet.</li>

        {% endfor %}
    </ul>
</div>

</body>
</html>