<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Комментарии</title>
</head>
<body>
<div class="main">
     {% for comment in comments %}
     <strong>Ник: </strong>{{comment.commentator}} <br>
     <strong>Воспользовался услугой от: </strong>{{comment.begin_date}} <br>
     <strong>До: </strong>{{comment.end_date}} <br>
     <strong>Оценка: </strong>{{comment.rating}} <br>
     <strong>Комментарий: </strong>{{comment.text}} <br><br>
     {% endfor %}
</div>
</body>
</html>