<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Главная</title>

</head>
<body>
<br>
<div class="container">
    <div class="d-flex align-items-start d-flex justify-content-center">
        <a href="/register/" style="background: #3e4445;padding: 10px 20px;color: white;">Регистрация</a>
        <a href="/accounts/login/" style="background: #3e4445;padding: 10px 20px;color: white;">Вход</a>
        <a href="/tours/" style="background: #3e4445;padding: 10px 20px;color: white;">Доступные туры</a>
        <a href="/commentlist/" style="background: #3e4445;padding: 10px 20px;color: white;">Комментарии</a>
        <a href="/createcomment/" style="background: #3e4445;padding: 10px 20px;color: white;">Оставить комментарий</a>
        <a href="/reservedtour/" style="background: #3e4445;padding: 10px 20px;color: white;">Зарезервированные туры</a>
    </div>
</div>
</div>
</body>