<body>

	<p>
	{% for hotel in hotels %}
		<p>{{hotel}}</p>
		{% if user.is_authenticated %}
			<form method="POST" action="/booking">

				{% csrf_token %}
				{% for field in booking_form.visible_fields %}
						{{ field.label_tag }}{{field}}
				{% endfor %}
				<input type="hidden" name="guest" id="id_guest" value="{{user.id}}"/>
				<input type="hidden" name="hotel" id="id_hotel" value="{{hotel.id}}"/>
				<input type="submit" value="Зарезервировать."/>
			</form>
		{% endif %}
	{% endfor %}
	</p>

	{% if user.is_authenticated %}
		{% for booking in bookings %}
		<p>
		{{booking.hotel}}, {{booking.room}}, {{booking.start}}, {{booking.end}}
		<a href="/booking_save/{{booking.id}}">Редактирование.</a>
		<a href="/booking/review/{{booking.id}}">Оставить отзыв о резервировании.</a>
		<form method="POST" action="/booking_delete/{{booking.id}}">
			{% csrf_token %}
			<input type="submit" value="Удалить."/>
		</form>
		</p>

		{% empty %}
		No bookings yet.
		{% endfor %}

		<p>
		<a href="/logout">Выйти из аккаунта.</a>
		</p>

	{% else %}

		<p>
		Для просмотра резервирований <a href="/login">войдите в аккаунт</a>.
		</p>

	{% endif %}

</body>