{% extends 'wrapper.html' %}

{% block content %}

  <h1>{{ object }}</h1>
  <p><strong>Предмет:</strong> {{ task.subject }}</p>
  <p><strong>Преподаватель:</strong> {{ task.teacher }}</p>
  <p><strong>Дата получения:</strong> {{ task.receive_date }}</p>
  <p><strong>Срок сдачи:</strong> {{ task.due_date }}</p>
  <p><strong>Описание задания:</strong> {{ task.description }}</p>
  <p><strong>Штраф:</strong> {{ task.punishment }}</p>

  <a href="/tasks_list/" role="button">Вернуться к списку заданий</a><p></p>
    {% if request.user.is_authenticated %}
  <a href="/completed_tasks/{{task.id}}/add/" role="button">Перейти к выполнению задания</a>
    {% else %}
  <a href="/login/" role="button">Войти, чтобы приступить к выполнению задания</a>
    {% endif %}
{% endblock %}