<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
<h1>Отзыв</h1>
<a>Имя</a>
{{ feedback.reserve.user.first_name }}
<a>Фамилия</a>
{{ feedback.reserve.user.last_name }}<br/>
<a>Название отеля</a>
{{ feedback.reserve.hotel.name }}<br/>
<a>Дата начала</a>
{{ feedback.reserve.start_date }}<br/>
<a>Дата конца</a>
{{ feedback.reserve.end_date }}<br/>
<a>Рейтинг</a>
{{ feedback.rating }}<br/>
<a>Описание</a>
{{ feedback.description }}<br/>
<a>Дата</a>
{{ feedback.data }}<br/><hr/>
</body>
</html>