<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список резервирований</title>
</head>
<body>
    <table width="50%">
        <thead><h2>Список резервирований</h2></thead>

        <tbody>

            {% for reservation in reservation_list %}
                <tr>
                    <strong>Тур: </strong>{{ reservation.tour }}
                    <p><strong>Дата начала: </strong>{{ reservation.begin_date }}</p>
                    <p><strong>Дата окончания: </strong>{{ reservation.end_date }}</p>
                    <p><strong>Статус: </strong>{{ reservation.confirmed|yesno:"Забронировано,Ждите ответа администратора" }}</p>
                    <p>
                        <a href="/reservations/{{ reservation.id }}/update/"><button>Обновить</button></a>
                        <a href="/reservations/{{ reservation.id }}/delete/"><button>Удалить</button></a>
                    </p>
                </tr>

            {% empty %}
                <tr>Пока ничего не забронировано</tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/tours/"><button>Доступные туры</button></a><br>
    <a href="/profile"><button>Профиль</button></a><br>
    <a href="/"><button>Главная страница</button></a>
</body>
</html>
