<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Homework system</title>
</head>
<body>
  <div class="container">
	  <h3><a href="/login/">Log in</a></h3>
      <h3><a href="/register/teacher">Register teacher</a></h3>
	  <h3><a href="/register/student">Register student</a></h3>
  </div>
  <hr>
  <div>
	  {% block main %}
	  {% endblock %}
  </div>
</div>
</div>
</body>
</html>




