<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car {{ object.id }}</title>
    </head>
    <body>
        <h1>Страница автомобиля</h1>
        <strong>Номер:</strong> {{ object.licence_number }}
        <p><strong>Марка:</strong> {{ object.make }}<p>
        <p><strong>Модель:</strong> {{ object.model }}</p>
        <p><strong>Цвет:</strong> {{ object.color }}</p>
    </body>
</html>
