backend/.secrets.yaml

.secrets.*
.eslintrc.json
backend/media/images/
datadump.json
env
**/*.pyc
**/__pycache__
db.sqlite3
node_modules
build
package-lock.json

.DS_STORE
node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
frontend/.env
frontend/src/core/axios.ts
backend/private_key.pem
backend/public_key.pem
backend/claim.json
backend/model_countries.json
backend/model_users.json
backend/model_bots.json
backend/model_users.ñsv 
backend/users.json
backend/users_update.json
backend/users_invited.json
backend/sort_users.py
backend/data
backend/prometheus.yml
backend/claim.json
backend/new_users.json
backend/sort_users.pybackend/data
backend/prometheus.yml
backend/media
backend/scripts