<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
</head>
{% if room.is_reserved == False %}
    {% if user.is_active %}
        <form action="" method="post" id="reservation">
            {% csrf_token %}
            {{ res_form.as_p }}
            <br>
            <button type="submit" form="reservation">make a reservation</button>
        </form>
    {% else %}
        <h4>You need to be logged in to edit your reservation</h4>
    {% endif %}
{% else %}
    <h4>This room is reserved</h4>
{% endif %}
<a href="http://127.0.0.1:8000/room/{{ room.id }}">Get back</a>