@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./../assets/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-Light.woff") format("woff"),
    url("./../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./../assets/fonts/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-Regular.woff") format("woff"),
    url("./../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
    url("./../assets/fonts/Gilroy-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-RegularItalic.woff") format("woff"),
    url("./../assets/fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-Bold.woff") format("woff"),
    url("./../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("./../assets/fonts/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-Medium.woff") format("woff"),
    url("./../assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("./../assets/fonts/Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("./../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Black"), local("Gilroy-Black"),
    url("./../assets/fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("./../assets/fonts/Gilroy-Black.woff") format("woff"),
    url("./../assets/fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
