<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль!</title>
</head>

<body>

  {% include "hackathon/navigation.html" %}

  <h2>Профиль!</h2>
  {{user.first_name}} {{user.last_name}} {{user.id}}
  <form class="login" method="POST" action="/team">

    {% csrf_token %}
    <input type="hidden" name="captain" id="id_captain" value="{{user.id}}"/>
    {% for field in form.visible_fields %}
      <p>{{ field.label_tag }}{{field}}</p>
  
    {% endfor %}

  <input type="submit" class="logBut" value="Создать команду!"/>
  </form>
  <a href="/">Главная страница</a>!
</body>
</html>