{% extends 'wrapper.html' %}

{% block content %}

    <title>Список заданий...</title>

      <span><h1>Список заданий:</h1></span>
    <p></p>

	{% for task in object_list %}
        <p class="h5"><mark><em> {{ task }} </em></mark></p>
        <p><strong>Предмет:</strong> {{ task.subject }} </p>
      	<p><strong>Дата выдачи:</strong> {{ task.receive_date  }}</p>
	    <p><strong>Дата сдачи:</strong> {{ task.due_date }}</p>
        <p><strong>Описание:</strong> {{ task.description }}</p>
        <p align="right"><a class="btn btn-primary" href="/tasks_list/{{ task.id }}" role="button">Перейти к заданию :)</a></p>

	{% empty %}
	<li>На данный момент заданий нет.</li>
	{% endfor %}
  </ul>

{% endblock %}
