<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul style="list-style: none;">
        <li>
            Name: {{ owner.name }}
        </li>
        <li>
            Surname: {{ owner.surname }}
        </li>
        <li>
            Birth date: {{ owner.birth_date }}
        </li>
        <li>
            Passport: {{ owner.passport }}
        </li>
        <li>
            Home address: {{ owner.home_address }}
        </li>
        <li>
            Nationality: {{ owner.nationality }}
        </li>
    </ul>
</body>
</html>