<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car list</title>
</head>

<body>
<ul>
    {% for Car in object_list %}
        <li><strong>Car:</strong>
            <a> {{ Car.brand }} {{ Car.model }}</a>, actions:
            <a href="/car/{{ Car.id }}/update/">Edit</a> | <a href="/car/{{ Car.id }}/delete/">Delete</a> |
            <a href="/car/{{ Car.id }}">Detail</a>
            <p><strong>Color:</strong> {{ Car.color }}</p>
            <p><strong>Number:</strong> {{ Car.number }}</p>
        </li>
    {% empty %}
        <li>No cars yet.</li>
    {% endfor %}
</ul>
<a href="http://127.0.0.1:8000/add_car/">Add car</a>
</body>

</html>
