<html lang="en">
{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver list</title>
</head>

<body>
<ul>
    {% for data in dataset %}
        <li>
            <p><strong>Name:</strong> {{ data.first_name }} {{ data.last_name }}</p>
            <p><strong>Birthday:</strong> {{ data.birthday }}</p>
            <a href="/driver/{{ data.id |sub:2 }}">Detail</a>
        </li>
    {% empty %}
        <li>No drivers yet.</li>
    {% endfor %}
</ul>
<a href="http://127.0.0.1:8000/add_driver/">Add driver</a>
</body>

</html>
