<!DOCTYPE html>
<html lang="en">
<head>
    <title>Комментарии</title>
</head>
<body>
<div class="main">
     {% for comment in comments %}
     <strong>Ник: </strong>{{comment.commentator}} <br>
     <strong>Ник: </strong>{{comment.tour}} <br>
     <strong>Воспользовался услугой от: </strong>{{comment.begin_date}} <br>
     <strong>До: </strong>{{comment.end_date}} <br>
     <strong>Оценка: </strong>{{comment.rating}} <br>
     <strong>Комментарий: </strong>{{comment.text}} <br><br>
     {% endfor %}
</div>
</body>
</html>