<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Главная</title>

</head>
<body>
<br>
<div class="container">
    <div class="d-flex align-items-start d-flex justify-content-center">
        <a href="/register/" style="background: #ffb3ec;padding: 10px 20px;color: white;">Регистрация</a>
        <a href="/accounts/login/" style="background: #ffb3ec;padding: 10px 20px;color: white;">Вход</a>
        <a href="/tours/" style="background: #ffb3ec;padding: 10px 20px;color: white;">Доступные туры</a>
        <a href="/reservedtour/" style="background: #ffb3ec;padding: 10px 20px;color: white;">Зарезервированные туры</a>
    </div>
</div>
</div>
</body>