<!DOCTYPE html>
<html lang="en">
<head>
    <title>Лента заказов</title>
</head>
<body>
{% block content %}

    <table id="myTable" width="25%">
        <thead>
        <tr>
            <th scope="col"><h1>Лента заказов</h1></th>
        </tr>
        </thead>

        <tbody>

        {% for reservation in reservations %}

            <tr>
                <td>{{ reservation.nameoftour.name }} </td>
                <td>{{ reservation.username.username }} </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>