<!doctype  html>
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>HWdesk</title>
</head>
<body>
  <div  class="container">
      <div  class="row justify-content-center" style="padding-top: 50px">
          <div class="col-4" style="float: left">
               <h3><a href="/login/">Log in</a></h3>
                <h3><a href="/register/">Register</a></h3>
          </div>
          <div  class="col-8">
              {% block main %}
              {% endblock %}
          </div>
      </div>
  </div>
</body>
</html>




