<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car owners</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}
        <p>Enter date in YYYY-MM-DD form</p>
        <!-- Using the formset -->
        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
<br>
  <br>
  <a href="http://127.0.0.1:8000/car_owners/">Get back</a>
</body>
</html>