{% extends 'base.html' %}
{% block content %}

<head>
    <title>Profile</title>
</head>

<body>
    <h1>{{ user.username }}'s personal page</h1>
    <br>

    Username: {{ user.username }} <br>
    Email: {{ user.email }} <br>
    First name: {{ user.first_name }} <br>
    Last name: {{ user.last_name }} <br>
    Passport number: {{ user.passport }} <br>
    Telephone: {{ user.telephone }} <br>

    <a href="/profile/edit">Edit</a> <br>  <br>

<a href="bookings"><button class="btn btn-secondary">My bookings</button></a>



</body>

{% endblock %}