<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
</head>
<body>
<ul>
    <li><strong>Driver:</strong> {{ driver.last_name }} {{ driver.first_name }}
        <p><strong>Birthday:</strong> {{ driver.birthday }}</p>
        <p><strong>Passport:</strong> {{ driver.user_info.passport }}</p>
        <p><strong>Address:</strong> {{ driver.user_info.address }}</p>
        <p><strong>Nationality:</strong> {{ driver.user_info.nationality }}</p>
        <p><strong>Cars:</strong></p>
        {% for car in driver.cars.all %}
            <strong>Car:</strong> {{ car.brand }} {{ car.model }}, actions: <a href="/car/{{ car.id }}/update/">Edit</a>
            | <a href="/car/{{ car.id }}/">Detail</a>
            <br>
        {% empty %}
            <li>No cars yet.</li>
        {% endfor %}
    <p><a href="/drivers/">Get back</a></p>
    </li>
</ul>
<br>

</body>
</html>