<!-- Получение одного объекта -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car detail</title>
</head>

<body>
  <h1>{{ object }}</h1>
  <p><strong>Color:</strong> {{ object.color }}</p>
  <p><strong>Reg num:</strong> {{ object.reg_num }}</p>
  <p><strong>Brand:</strong> {{ object.brand }}</p>
  <p><strong>Model:</strong> {{ object.model }}</p>
  <a href="/cars_list/">Get back</a>

</body>
</html>