.Layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  min-height: 0;
  background: var(--main_bg);
  height: 100%;
  overflow-y: hidden;
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: var(--main_bg);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Sidebar {
  flex: 0 0 310px;
  width: 310px;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s, background 0s;
  background-color: var(--sidebar_bg);
}

.Sidebar__logo {
  text-align: center;
  padding: 2rem 0;
}

.Menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  font-weight: 600;
  margin-top: 6rem;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1.5rem;
  line-height: 0;
  text-align: left;
  list-style: none;
  outline: none;
  -webkit-transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.Menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 42px;
  margin: 0;
  padding: 0 3rem;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: color 0s,
    border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0s, border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Menu-item-disabled {
  opacity: 0.6;
}

.Menu-item-active {
  background-color: var(--active);
}

.Menu-item-selected {
  color: var(--accent);
}

.Menu-item-selected .Menu-item-icon {
  color: var(--white);
}

.Menu-item-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Sidebar-collapsed .Menu .Menu-item-icon {
  font-size: 28px;
  margin-right: 0;
}

.Sidebar-collapsed .Menu .Menu-item-text {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}

.Sidebar .Sidebar__bottom {
  width: 310px;
  font-size: 1.25rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  z-index: 1;
  color: var(--text_primary);
  text-align: center;
  padding: 1rem 0;
  -webkit-transition: all 0.2s, background 0s;
  transition: all 0.2s, background 0s;
}

.Sidebar__bottom-name {
  display: flex;
  margin-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  .Sidebar {
    display: none;
  }
}
