{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 centerd">
                <h2>Редактровать бронирование</h2>
            </div>
        </div>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-md-6">
                <form action="./" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Дата начала</h4>
                            </div>
                            <div class="col-md-6">
                                <input type="date" value="{{ reservation.begin_date|date:'Y-m-d' }}" name="begin_date" id="">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <h4>Дата конца</h4>
                            </div>
                            <div class="col-md-6">
                                <input type="date" value="{{ reservation.end_date|date:'Y-m-d' }}" name="end_date" id="">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 d-grid gap-2 mx-auto">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-5 d-grid gap-2 mx-auto">
                        <form action="../delete" method="GET" class="centerd mt-2">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}