<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    {% if form.errors %}
    <p>Что-то пошло не так</p>
    {% endif %}

    {% if next %}
    <p>У Вас нет прав доступа</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Имя: {{ form.username }}</p>
        <p>Пароль: {{ form.password }}</p>

        <p><input type="submit" value='Войти'></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</body>
</html>