.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
  background: none;
  padding: 0 16px;
  border-radius: 4px;
}

.Button__in {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Button.Tappable--active {
  opacity: 0.6;
}

.Button[disabled] {
  opacity: 0.4;
}

.Button--aln-left .Button__in {
  justify-content: flex-start;
}

.Button--aln-center .Button__in {
  justify-content: center;
}

.Button--aln-right .Button__in {
  justify-content: flex-end;
}

.Button--str {
  display: block;
  max-width: 100%;
  flex-grow: 1;
}

.Button--str:first-child:last-child {
  width: 100%;
}

.Button--stretched .Button__in {
  justify-content: center;
}

.Button__before svg {
  margin-right: 6px;
}

.Button:not(.Button--sz-xl) .Button__after {
  margin-left: 8px;
}

.Button::before,
.Button::after {
  display: none;
}

.Button--lvl-primary {
  background: linear-gradient(
    90deg,
    var(--button_primary_bg_left) 0%,
    var(--button_primary_bg_right) 100%
  );
  border: 1px solid var(--button_primary_border);
  color: var(--white);
}

.Button--lvl-secondary {
  background-color: var(--button_secondary_bg);
  color: var(--button_secondary_text);
  border-radius: 48px;
  padding: 1rem 3rem;
}

.Button--lvl-tertiary {
  background-color: transparent;
  color: var(--button_tertiary_text);
}

.Button--lvl-icon {
  background: transparent;
  color: var(--button_icon_text);
}

.Button--lvl-commerce {
  background-color: var(--button_commerce_bg);
  border: 1px solid var(--button_commerce_border);
  color: var(--button_commerce_text);
}

.Button--lvl-outline {
  background-color: transparent;
  border: 1px solid var(--button_outline_border);
  color: var(--button_outline_foreground);
}

.Button--lvl-email {
  border: 1px solid var(--gray);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  justify-content: flex-start;
}

.Button--lvl-oauth {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 46px;
  height: 46px;
}

.Button--lvl-link {
  padding: 0;
  color: var(--selected2);
  justify-content: flex-start;
}

.Button--lvl-destructive {
  background-color: var(--destructive);
  color: var(--white);
}

.Button--lvl-overlay_primary {
  background-color: var(--media_overlay_button_background);
  color: var(--media_overlay_button_foreground);
}

.Button--lvl-overlay_secondary {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.Button--lvl-overlay_outline {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.Button--lvl-signup {
  background: var(--selected2);
  color: var(--white);
  padding: 0 1.5rem;
}

.Button svg {
  font-size: 20px;
}

.Button .Button__before svg {
  display: inherit;
  font-size: 24px;
}

.Button .Button__content {
  font-size: 14px;
  font-weight: 600;
  padding: 11px 0;
  display: flex;
  position: relative;
  text-align: center;
}

.Button--lvl-secondary .Button__content {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.Button--lvl-icon .Button__content,
.Button--lvl-link .Button__content {
  padding: 0;
}

.Button--lvl-signup .Button__content {
  font-size: 1rem;
  padding: 0.75rem 0;
}

.Button--lvl-icon svg {
  font-size: 1.5rem;
}

.Button--lvl-link svg {
  display: inherit;
  font-size: 14px;
}

.Button--link {
  padding: 0;
}

.Button--lvl-email .Button__before {
  color: var(--selected2);
}

.Button--lvl-email .Button__content {
  padding: 14px 0;
}

@media only screen and (max-width: 767.98px) {
  .Button--lvl-commerce {
    border-radius: 18px;
    padding: 4px 16px !important;
  }
  .Button--lvl-commerce .Button__in .Button__content {
    display: none;
  }
}
