<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить задание</title>
    <style>
        body {
            background-image: url(https://i.imgur.com/iXP9n4l.jpg);
            background-color: whitesmoke;
            opacity: 95%;
            color: whitesmoke;
            text-align: center;
            zoom: 120%;
        }
        input {
            background-color: cornflowerblue;
        }
        .button1 {
            background-color: coral;
        }
    </style>
</head>
<body>

<h1>Изменить выполнение задания:</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
</form>
<p></p>
<a href="/completed_tasks/"><button class="button button1">Вернуться к списку выполненных заданий</button></a>

</body>
</html>