<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body bgcolor="#999999">
    <h2>{{ user.username }}'s profile</h2>

<p style="padding: 20px; border: 5px solid white;">
<strong>Username: </strong>{{ user.username }} <br>
<strong>Email: </strong>{{ user.email }} <br>
<strong>Name: </strong>{{ user.first_name }} <br>
<strong>Surname: </strong>{{ user.last_name }} <br>
</p>

<a href="/myreserves">To my conferences</a><br>
<a href="/">Main page</a>
</body>
</html>